.ProgressBar {
  position: relative;
  border: 1px solid orangered;
  border-radius: 5px;
  height: 25px;
  margin-bottom: 20px;
  padding: 5px;
}

.ProgressBar::before {
  content: '';
  position: absolute;
  top: 5px;
  left: calc(5px + var(--progress, 0));
  width: calc(100% - var(--progress, 0) - 10px);
  height: calc(100% - 10px);
  background-color: orangered;
}

.ProgressBar.remaining::before {
  left: 5px;
}
