@import '../../styles/variables.scss';

.TimeboxCreator {
  text-align: right;
  border: $default-border;
  border-radius: $border-radius;
  padding: 20px;
  margin-bottom: 20px;
  background-color: lighten(aqua, 40);
}
