input {
  min-width: 60%;
  margin-left: 20px;
  font-size: 16px;
}

button {
  font-size: 16px;
  margin-left: 10px;
}

.App {
  font-family: sans-serif;
}

.inactive {
  filter: blur(2px) grayscale(1);
}
