.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  &__welcomeMessage {
    font-weight: 700;
  }

  &__logoutButton {
    margin: 0px 5px 0 10px;
  }
}
