.alternateQuote {
  padding: 5px 10px;
  text-align: right;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #222;

  &__text {
    font-size: 1.1rem;
    font-weight: 100;
    font-style: italic;

    &::before,
    &:after {
      content: '"';
    }
  }

  &__author {
    font-size: 0.9rem;
    font-weight: 700;

    &::before {
      content: '-';
      margin-right: 4px;
    }
  }
}
